.calendar_header
  %p.calendar_header__title #{title}
  .calendar_header__buttons
    -# 以下選択url。部分テンプレート呼び出しでハッシュを入れることでよびだし。
    -# paths[アクション名][url]のような形で受け取るので呼び出したくないときは部分テンプレートで空のハッシュを入れないようにする。
    -# 構文は paths: {アクション名: {path: URL, text: ホバーしたときに表示する文字}}
    
    - if paths[:up]
      =link_to paths[:up][:path], method: :get, class: "calendar_header__buttons__button", title: paths[:up][:text] do
        =icon('fas', 'arrow-circle-left', class: "calendar_header__buttons__button__icon")

    - if paths[:eye_open]
      =link_to paths[:eye_open][:path], method: paths[:eye_open][:method], class: "calendar_header__buttons__button", remote: true, title: paths[:eye_open][:text] do
        =icon('fas', 'eye', class: "calendar_header__buttons__button__icon")

    - if paths[:eye_close]
      =link_to paths[:eye_close][:path], method: paths[:eye_close][:method], class: "calendar_header__buttons__button", remote: true, title: paths[:eye_close][:text] do
        =icon('fas', 'eye-slash', class: "calendar_header__buttons__button__icon")

    - if paths[:new]
      =link_to paths[:new][:path], method: :get, class: "calendar_header__buttons__button", title: paths[:new][:text] do
        =icon('fas', 'plus-circle', class: "calendar_header__buttons__button__icon")
        
    - if paths[:plan]
      =link_to paths[:plan][:new][:path], method: :get, class: "calendar_header__buttons__button", title: paths[:plan][:new][:text] do
        =icon('fas', 'calendar-plus', class: "calendar_header__buttons__button__icon")

    - if paths[:progress]
      =link_to paths[:progress][:new][:path], method: :get, class: "calendar_header__buttons__button", title: paths[:progress][:new][:text] do
        =icon('fas', 'calendar-check', class: "calendar_header__buttons__button__icon")

    - if paths[:show]
      =link_to paths[:show][:path], method: :get, class: "calendar_header__buttons__button", title: paths[:show][:text] do
        =icon('fas', 'book', class: "calendar_header__buttons__button__icon")

    - if paths[:edit]
      =link_to paths[:edit][:path], method: :get, class: "calendar_header__buttons__button", title: paths[:edit][:text] do
        =icon('fas', 'edit', class: "calendar_header__buttons__button__icon")

    - if paths[:delete]
      =link_to paths[:delete][:path], method: :delete, data: {confirm: "削除するともとに戻せません。よろしいですか？"}, class: "calendar_header__buttons__button", title: paths[:delete][:text] do
        =icon('fas', 'trash', class: "calendar_header__buttons__button__icon")