.calendar__description.display_none#calendar__description_for_js
    %button.calendar__description__close_button{onclick: "CloseDescription();"}
        =icon('far', 'window-close', class: "calendar__description__close_button__icon")
    %p.calendar__description__text #{text}