= render partial: "common/header"
.main
    = render partial: "common/side_bar"
    .form.form--add_form
        = render partial: "tasks/task_form", locals: {use: "Update", url: work_task_path(@work, @task)}