=render partial: "common/header"
.main
    =render partial: "common/side_bar"
    .schedule_area
        %span#calendar_header_for_js
            -# jsで更新するためにspanでかこっている
            =render partial: "tasks/task_calendar_header"
        =render partial: "calendar/calendar", locals: {projects: @tasks, user: @user, task_show_name: nil}