- if eye == "open"
    =render partial: "calendar/calendar_header", locals: {title: "#{current_user.name}'s works", paths: {new: {path: current_new_path, text: "Add Work"}, eye_open: {path: user_works_path(@user, display: nil), method: :get, text: "Hide some works"}}}
    -# display: falseだと文字列としてfalseを受け取ってしまうのであえてnilにしている
-else
    =render partial: "calendar/calendar_header", locals: {title: "#{current_user.name}'s works", paths: {new: {path: current_new_path, text: "Add Work"}, eye_close: {path: user_works_path(@user, display: true), method: :get, text: "Display All"}}}
=render partial: "calendar/calendar", locals: {projects: @works, user: @user, task_show_name: nil}