=render partial: "common/header"
.main
  =render partial: "common/side_bar"
  .schedule_area
    =render partial: "calendar/calendar_header", locals: {title: "#{current_user.name}'s works", button_title: "Add work", other_path: {}}
    =render partial: "calendar/calendar", locals: {projects: @works, user: @user}