.calendar_header
{
  margin: $calendar_header_margin;
  height: $calendar_header_height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__title
  {
    @include font($color: black, $size: 20px, $weight: bold);
  }

  &__buttons
  {
    display: flex;
    &__button
    {
      border: none;
      background-color: transparent;
      line-height: 100%;
      border-radius: 10px;
      margin-right: 20px;
      @include iconButton($color: #DDDDDD);
      &--description
      {
        display: inline;
      }
    }
  }
}