.iconButton
{
    display: block;
    text-align: center;
    padding: 4px;
    margin: 3px;
    @include font($size: 1.5em);
    &:hover
    {
        transition: 0.4s ease-in-out;
        background-color: #0F1220;
    }

}

@mixin icon($hoverColor: $main_color, $size: 16px, $weight: normal, $fontfamily: "Ryumin Light KL")
{
    color: $main_color;
    font-size: $size;
    font-weight: $weight;
    font-family: $fontfamily;
}