@mixin icon($color: $main_color, $size: 24px)
{
    color: $color;
    font-size: $size;
}

@mixin iconButton($color: #0F1220, $size: 24px, $icon_color: $main_color)
{
    display: block;
    text-align: center;
    padding: 4px;
    margin: 3px;
    @include font($size: 1.5em);
    &:hover
    {
        transition: 0.4s ease-in-out;
        background-color: $color;
    }
    &__icon
    {
        @include icon($color: $icon_color, $size: $size)
    }
}