.sidebar
{
  height: calc(100vh - #{$header_height} - 20px);
  width: $sidebar_width;
  background-color: $sidebar_color;
  border-right: $main_color 1px solid;
  &__works
  {
    height: calc( 100% - #{$sidebar_user_area_height});
    box-sizing: border-box;
    padding-top: 20px;
    overflow-y: scroll;
    @include none_scroll_bar();
  }


  &__work
  {
    display: block;
    @include post_it($height: $sidebar_work_height, $width: ($sidebar_width - $sidebar_inner_area * 2), $padding_margin: true);
    @include font($size:16px);
    &:hover
    {
        transition: 0.5s ease-in-out;
        background-color: #DDDDDD;
    }
    &__name
    {
      @include font($size:1.2em, $color: black);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__enddate
    {
      display: block;
      margin: 5px 0;
      text-align: right;
      @include font($size:0.8em, $color: black);
    }
  }

  &__user
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $sidebar_user_area_height;
    @include font($weight: bold);
    &__name
    {
      margin-left: $sidebar_inner_area;
      line-height: $sidebar_user_area_height;
    }
    &__icons
    {
      display: flex;
      &__link
      {
        @include font($size: 1.3em);
        padding: 1px;
        margin: 1px;
        height: $sidebar_user_area_height - 4px;
        width: $sidebar_user_area_height - 4px;
        line-height: $sidebar_user_area_height - 4px;
        border-radius: 12px;
        @include iconButton($color: #C7C7C7)

      }
    }
  }
}