.form_image
{
    height: 100%;
    width: 100%;  background-image: image_url('taskappLoginImage.jpg');
    background-size:cover; 
    background-repeat:no-repeat;
    background-attachment:fixed;
    height: 100vh;
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center;
    &__copyright
    {
        text-decoration: none;
        @include font($color: gray, $size: 12px);
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.form
{
    max-width: 650px;
    width: 50%;
    margin: 20px auto;
    padding: 30px 0;
    background-color: rgba(200,200,200,0.5);
    &--add_form
    {
        @include paper();
    }
    &__error_message
    {
        color: red;
        text-align: center;
    }
    &__title
    {
        text-align: center;
        margin-bottom: 20px;
        @include font($color: #000, $size: 20px, $weight: bold)
    }
    
    &__field
    {
        margin: 40px 30px;
        padding: 0 20px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__label
        {
            display: inline-block;
            width: $form_label_width;
            text-align: right;
            &--post_it
            {
                width: auto;
                &__icon
                {
                    color: gray;
                    &--trash
                    {
                        color: deeppink;
                    }
                }
            }
            &__parent_date
            {
                @include font($color: gray, $size: 10px);
                white-space: nowrap;
            }
        }

        &__input
        {
            $height: 40px;
            $width: 300px;
            box-shadow: 0px 1px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            height: $height;
            width: $width;
            padding: 0 20px;
            font-size: 16px;

            &--description
            {
                padding-top: 10px;
                height: $height * 4;
                resize: none;
            }
            &--quantity
            {
                width: 200px;
            }
            &--unit
            {
                width: 50px;
            }
            &--date
            {
                width: 150px;
            }
            &--time
            {
                width: 80px;
            }
            &--checkbox
            {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
            }
        }

        &--description
        {
            height: 200px;
        }

        &--post_it
        {
            margin: 40px auto;
            @include post_it($height: 50px);
        }
    }

    &__submit
    {
        display: block;
        height: 40px;
        width: 250px;
        margin: 0 auto;
        background-color: white;
        font-size: 20px;
        border: none;
        border-bottom: solid 4px #CCCCCC;
        cursor: pointer;
        @include hover_button($color: #EEEEEE);
        &:active
        {
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
            border-bottom: none;
        }
    }

    &__other_link
    {
        margin-top: 10px;
        text-align: center;
        &--link
        {
            font-weight: bold;
            @include link_color($color: black);
        }
    }
}