.sidebar
  .sidebar__user
    =link_to user_works_path(current_user.id), class: "sidebar__user__name" do
      #{current_user.name}
    .sidebar__user__icons
      =link_to new_work_path, class: "sidebar__user__icons__link", title: "new work" do
        =icon('fas', 'folder-plus', class: "sidebar__user__icons__link__icon")
      =link_to edit_user_registration_path, class: "sidebar__user__icons__link", title: "option" do
        =icon('fas', 'cog', class: "sidebar__user__icons__link__icon")
  .sidebar__works
    -current_user.works.each do |work|
      =link_to user_work_tasks_path(current_user, work), class: "sidebar__work" do
        %p.sidebar__work__name
          =work.name
        %small.sidebar__work__enddate
          ="~#{work.end_date}"